[submodule "riscv-isa-sim"]
	path = riscv-isa-sim
	url = https://github.com/noureddine-as/riscv-isa-sim.git
[submodule "riscv-fesvr"]
	path = riscv-fesvr
	url = https://github.com/noureddine-as/riscv-fesvr.git
[submodule "riscv-pk"]
	path = riscv-pk
	url = https://github.com/noureddine-as/riscv-pk.git
[submodule "riscv-opcodes"]
	path = riscv-opcodes
	url = https://github.com/noureddine-as/riscv-opcodes.git
[submodule "riscv-tests"]
	path = riscv-tests
	url = https://github.com/noureddine-as/riscv-tests.git
[submodule "riscv-gnu-toolchain"]
	path = riscv-gnu-toolchain
	url = https://github.com/noureddine-as/riscv-gnu-toolchain.git
[submodule "riscv-openocd"]
	path = riscv-openocd
	url = https://github.com/noureddine-as/riscv-openocd.git
